# MSDS 7331 - Mini-Project: SVM&LR Classification
## Team: Dineen Parker, Dale Legband, Ryan Shuhart
collaboration site: https://github.com/rlshuhart/MSDS7331_Mini-Lab

## SVM and Logistic Regression Modeling  
* [50 points] Create a logistic regression model and a support vector machine model for the classiﬁcation task involved with your dataset. Assess how well each model performs (use 80/20 training/testing split for your data). Adjust parameters of the models to make them more accurate. If your dataset size requires the use of stochastic gradient descent, then linear kernel only is ﬁne to use. 
* [10 points] Discuss the advantages of each model for each classiﬁcation task. Does one type of model offer superior performance over another in terms of prediction accuracy? In terms of training time or efﬁciency? Explain in detail.  
* [30 points] Use the weights from logistic regression to interpret the importance of different features for each classiﬁcation task. Explain your interpretation in detail. Why do you think some variables are more important? 
* [10 points] Look at the chosen support vectors for the classiﬁcation task. Do these provide any insight into the data? Explain

In [5]:
### Modules Used ###

# Data manipulation: pandas and numpy
import pandas as pd
import numpy as np

# Visualization: seaborn and matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

# Read in preprocessed data from previous assignment

In [4]:
# Random but useful fact: if the first record in a csv file is 
# "ID" than Excel will interpret it as a SYLK file
# https://annalear.ca/2010/06/10/why-excel-thinks-your-csv-is-a-sylk/

data_url = "https://raw.githubusercontent.com/rlshuhart/MSDS7331_Project_1/master/cc_data/cc_data_processed.csv"
cc_data = pd.read_csv(data_url, index_col='ID')
cc_data.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0_Sept,PAY_2_Aug,PAY_3_July,PAY_4_June,PAY_5_May,...,PAY_AMT1_Sept,PAY_AMT2_Aug,PAY_AMT3_July,PAY_AMT4_June,PAY_AMT5_May,PAY_AMT6_April,default payment next month,AGE_range,LIMIT_BAL_range,Default_Yes_No
ID,,,,,,,,,,,,,,,,,,,,,
1,20000,Female,University,Married,24,2,2,-1,-1,-2,...,0,689,0,0,0,0,1,21-30,0-250k,Yes
2,120000,Female,University,Single,26,-1,2,0,0,0,...,0,1000,1000,1000,0,2000,1,21-30,0-250k,Yes
3,90000,Female,University,Single,34,0,0,0,0,0,...,1518,1500,1000,1000,1000,5000,0,31-40,0-250k,No
4,50000,Female,University,Married,37,0,0,0,0,0,...,2000,2019,1200,1100,1069,1000,0,31-40,0-250k,No
5,50000,Male,University,Married,57,-1,0,-1,0,0,...,2000,36681,10000,9000,689,679,0,51-60,0-250k,No

# Training and Testing Split

In [18]:
from sklearn.cross_validation import ShuffleSplit

cc_data_target = cc_data['default payment next month']
cc_data_preds = cc_data.drop('default payment next month', axis='columns')

num_cv_iterations = 3
num_instances = len(cc_data_target)
cv_object = ShuffleSplit(n=num_instances,
                         n_iter=num_cv_iterations,
                         test_size  = 0.2)

print(cv_object)

# Logistic Regression